html{scroll-behavior:smooth}
a {
    text-decoration: none !important;
}
.hr {border-bottom: 2px solid #eee; max-width: 130px;}
#navbar .container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width:768px){
#navbar .container-fluid {width: 750px;}
}
@media screen and (min-width:992px){
#navbar .container-fluid {width: 970px;}
}
@media screen and (min-width:1200px){
#navbar .container-fluid {width: 1180px;}
}
@media screen and (min-width:1400px){
#navbar .container-fluid {width: 1360px;}
}
.black {color: #151930;}
.white {color: #fff;} 
/* ~~~~~~~~~~~ NAVBAR : Begin ~~~~~~~~~~~ */
#navbar {
  padding-top: 20px;
  padding-bottom: 20px;
    box-shadow: 5px 5px 8px -1px #8888882e;
}
.reed_logo { width: 80px;}
.txt {font-size: 10px;line-height: 10px;padding-right: 8px;padding-left: 8px;}
.client_logo  { width: 90px;}
.phone {margin-top: 20px; display: none;}
.phone_image {
    vertical-align: top;
    padding-right: 0px;
    padding-top: 5px;
}
.phone_image img {
    width: 32px;
}
.contact_no {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
}
.contact_no a {
    color: #1E2B50;
}
.days {
    font-size: 13px;
    float: left;
    font-weight: 400;
}
@media screen and (min-width:568px){
.reed_logo { width: 120px;}
.txt {font-size: 12px;line-height: 12px; padding-right: 20px;padding-left: 20px;}
.client_logo  { width: 130px;}
}
@media screen and (min-width:768px){
  .phone {display: block;}
}
@media screen and (min-width:992px){
.reed_logo { width: 130px;}
.txt {font-size: 13px;line-height: 13px;}
.client_logo  { width: 150px;}
.phone_image {padding-top: 0px;}
.phone_image img {
    width: 44px;
}
.contact_no {
    font-size: 24px;
    line-height: 24px;
}
.days {
    font-size: 16px;
}
}
@media screen and (min-width: 768px){
 #navbar{ 
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #fff;
 }
}
/* ~~~~~~~~~~~ HEADER : Begin ~~~~~~~~~~~ */
.bg-header {background-image: url('http://image.e.reed.co.uk/lib/fe8f12727661037970/m/7/bg1-mobile.png');background-size: 100% 550px;background-position: bottom; background-repeat: no-repeat;border-bottom: 2px solid #eee;}
.value_text {
    color: #ff0054;
    font-size: 16px;
    line-height: 24px;
    padding: 12px 0;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    display: inline-block;
    font-weight: 700;
    margin-bottom: 15px
}
.sub_text {font-size: 17px;line-height: 26px;}
@media screen and (min-width: 768px) {
  .bg-header {
    background-image: url('http://image.e.reed.co.uk/lib/fe8f12727661037970/m/7/bg-header.jpg');
    background-position: center;
    margin-top: 86px;
    padding: 40px 0;
    background-size: cover;
  }
  .sub_text {font-size: 20px;line-height: 26px;}
}
@media screen and (min-width:1200px){
.value_text {
    font-size: 20px;
    line-height: 24px;
    padding: 16px 0;

}
}
/*FORM*/
#form {box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);border-radius: .5rem;background-color: #fff; padding: 25px}
.form-title {font-weight: bold; font-size: 26px; line-height: 30px;}
.form-control {height: calc(2.80rem + 2px);}
.btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    opacity: 1;
}
.t-and-c a:hover {text-decoration: underline !important;color: #333;}
/* ~~~~~~~~~~~ WHY : Begin ~~~~~~~~~~~ */
.why-wrapper {min-width: 220px;padding: 10px; margin-top: 10px}
.why-icon {color: #F47100;border-color: #F47100;font-size: 40px;text-align: center; margin-bottom: 20px; transition: all 0.2s;}
.why-icon:hover {font-size: 46px;}
.why-title {font-size: 22px;line-height: 26px; font-weight: bold;padding-bottom: 10px;}
.why-sub-title {font-size: 18px;line-height: 24px;}
@media screen and (min-width:568px){
  .why-wrapper {min-width: 220px;padding: 10px; margin-top: 15px}
  .why-title {font-size: 24px;line-height: 28px; font-weight: bold;padding-bottom: 10px;}
  .why-sub-title {font-size: 20px;line-height: 28px;}
}
/* ~~~~~~~~~~~ PRICING : Begin ~~~~~~~~~~~ */
section.pricing {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}
.title {font-size: 26px; line-height: 32px;font-weight: 700;}
.sub-title {font-size: 18px; line-height: 26px;max-width: 900px; margin: 0 auto;}
.pricing-wrapper {
  max-width: 900px;
  margin: 0 auto;
}
.pricing-wrapper .pt {padding: 0 6px;}

.pricing .card {
  border: none;
  border-radius: .5rem;
  margin: 0 5px;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 1rem 0;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  font-weight: bold;
  color: #000;
}

.pricing .card-price {
  font-size: 2.2rem;
  margin: 0;
  font-weight: bold;
}

.pricing .card-price .old-price {
  font-size: 0.9rem; 
  text-decoration: line-through;
  font-weight: normal;
}
.save-price {padding: 3px 6px;font-size:13px; background-color:#F47100; color:#fff; font-weight: bold;}
.pricing ul li {
  margin-bottom: .5rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}
.fa-check {color: #65BF2D;}

.carousel-ds {display: none;}
.carousel-mb {display: block;}


.flag {
      width: 110px;
      height: 56px;
      box-sizing: content-box;
      position: relative;
      text-align: center;
    }
.flag:after {
    content: "";
    position: absolute;
    left: -1px;
    top: 3px;
    bottom: 0;
    width: 0;
    transform: rotate(-90deg);
    height: 0;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    }
.fa-ul {margin-left: 2em;}
.badge-panel {
    color: #fff;
    margin-left: -20px;
    position: absolute;
    margin-top: -13px;
    background-color: #F47100;
    display: inline-block;
    padding: 0.35em .8em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    box-shadow: -.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    /* border-radius: .25rem; */
}
.price-offer {font-size: 12px;line-height: 18px;color: #000;text-align: center;margin: 0 auto;}
@media screen and (min-width: 568px) {
  .title {font-size: 36px; line-height: 40px;font-weight: 700;}
  .sub-title {font-size: 20px; line-height: 30px;}
}
@media screen and (min-width: 768px) {
.carousel-mb {display: none;}
.carousel-ds {display: block;}
.pricing-wrapper {
  max-width: 830px;
  margin: 0 auto;
}
}

/* Hover Effects on Card */
@media screen and (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.50rem;
    margin-bottom: .50rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}
@media screen and (min-width: 1200px) {
  .pricing-wrapper {
  max-width: 1500px;
  margin: 0 auto;
}
}

/* ~~~~~~~~~~~ LOGOS : Begin ~~~~~~~~~~~ */
.logos-wrapper {margin: 0 auto;max-width: 1500px; padding: 20px 0;}
.dmi, .career-boosting, .apmg, .trustpilot {margin: 15px 10px;}
.dmi {width: 100px;}
.career-boosting {width: 50px;margin: 0 20px;}
.apmg {width: 140px;}
.trustpilot {width: 90px;}
@media screen and (min-width: 768px) {
  .dmi, .career-boosting, .apmg, .trustpilot {margin: 0 20px;}
  .dmi {width: 160px;}
  .career-boosting {width: 70px;margin: 0 40px;}
  .apmg {width: 210px;}
  .trustpilot {width: 150px;}
}
/* ~~~~~~~~~~~ TESTIMONIALS : Begin ~~~~~~~~~~~ */
.video_part iframe {
    width: 340px;
    height: 192px;
    max-width: 100%;
}
#testimonials {background: #f4f7f9;}
#testimonials .card {max-width: 22rem;box-shadow: 0px 0px 46px 11px rgba(0, 0, 0, 0.06);}
#testimonials .card-img-top {width: 98px;}
.card-icon.top {position:absolute;margin: -14px;}
.card-icon.bottom {position:absolute;bottom: 0; right: 0; margin: -14px;}
.card-icon i {font-size:40px;color: rgba(0, 157, 61,0.4)}
@media screen and (min-width: 568px) {
  .card-icon i {font-size:50px;}
  .card-icon.top {margin: -25px;}
  .card-icon.bottom {bottom: 0; right: 0; margin: -25px;}
}
@media screen and (min-width: 768px) {
  .video_part iframe {
    width: 562px;
    height: 316px;
    max-width: 100%;
}
}
@media screen and (min-width: 992px) {
  .video_part iframe {
    width: 762px;
    height: 430px;
    max-width: 100%;
}
}
/* ~~~~~~~~~~~ BENEFITS : Begin ~~~~~~~~~~~ */
#benefits .sub-title {max-width: 1000px;}
#benefits ul > li {margin-bottom: 30px;}
#benefits ul {padding-left: 10px; margin: 0 auto;margin-left: 15px;margin-right: 15px;}
#benefits .btn, #call .btn {max-width: 300px;margin: 0 auto;}
@media screen and (min-width: 992px) {
  #benefits ul {padding: 40px; margin: 0 auto}
}
/* ~~~~~~~~~~~ GIVE US A CALL : Begin ~~~~~~~~~~~ */
#call .phone_image {padding-top: 0px;}
#call .phone_image img {
    width: 44px;
}
#call .contact_no {
    font-size: 24px;
    line-height: 24px;
}
#call .days {
    font-size: 16px;
}
/* ~~~~~~~~~~~ NOTES : Begin ~~~~~~~~~~~ */
#notes {background-color: #eee}
/* ~~~~~~~~~~~ Copyright : Begin ~~~~~~~~~~~ */
#copyright {background: #1d2730;}